<div id="<%= dom_id information %>">
  <p>
    <strong>Id card:</strong>
    <%= information.id_card %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= information.phone_number %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= information.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= information.last_name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= information.address %>
  </p>

</div>
